<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align: center;">
  <h1>Welcome to {{ title }}!</h1>

  <input type="file" (change)="handleUpload($event)" /> <br />
  <br />

  <!--  <form [formGroup]="updateprofileimg" (ngSubmit)="changeProfileImage($event)">
    <input
      type="file"
      (change)="handleUpload($event)"
      [(ngModel)]="img_upload"
      formControlName="img_upload"
      required
    />
  </form> -->

  <!-- <button
    [disabled]="!updateprofileimg.valid"
    type="submit"
    class="newbtn11"
    color="primary"
    block
  >
    Convert
  </button> -->
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <div *ngIf="url != ''">
        <img
          src="{{ url }}"
          style="margin-bottom: 22px; width: 20cm; height: auto;"
        />
      </div>
    </div>
    <div class="col">
      <div *ngIf="url != ''">
        <img src="{{ selectedImage }}" width="50%" />
        <h2>Result:</h2>
        <p>
          {{ ocrResult }}
        </p>
        <div *ngIf="ocrResult != 'Recognizing...'">
          <button
            *ngIf="!copied"
            (click)="copyText()"
            type="button"
            class="btn btn-success"
          >
            Copy Text
          </button>
          <button (click)="copyText()" *ngIf="copied" type="button" class="btn btn-secondary">
            Text copied
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
